*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
input {
    width: 4rem;
    margin-top: 1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

main {
    width: 100%;
    background-color: #fbfbfb;
    padding: 2rem 3.5rem 2rem 3.5rem; 
}

figure {
    padding:2rem 0rem 3rem 0rem;
    width: 100%;
    display:inline-block;
    margin:auto;
}
ul {
    display: inline;
}

.main-header {
    background-color: 	#70e000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0.3rem solid #6d7471;
    margin-left: 0;
    margin-bottom: 1rem;
    width: 100%;
    color: white;
    
}

.main-header_h1 {
    font-size: 2.8rem;
}

.main-header_h2 {
    font-size: 2.4rem;
    color:#6d7471;
}

.main-body {
    width:100% ;
    padding: 6rem 3.5rem;
    text-align:center;
}

.main-ul li 
{
    
    
    margin:auto; 
    text-align: center;  
    list-style:none;
    
   
}

.main-ul a
{
    font-size: 2rem;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: #6d7471;
    background-color: #ccff33;
    border: 0.3rem solid #6d7471;
}
.main-ul a:hover 
{
    color: blue
}

.main-footer 
{
    color: white;
    background-color: #70e000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0.3rem solid #6d7471;
    font-size: 1.5rem;
    
}

.main-h3 
{
    font-size: 2.4rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 2rem;
    color: white;
    background-color: #38B000;
    border: 0.3rem solid #6d7471;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



